*{

    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.cards{
    

   
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 200px;

    
}

ul{

     list-style: none;
}


